


.img1 {
    width: 25%;
    position: absolute;
    top: 110%;
    left: 17%;
    transform: translate(-50%, -50%);
    border: 1px solid transparent;
    border-radius: 10%;
    z-index: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 10px;
    margin: 10px 0 20px 0;

}

.img2 {
    width: 25%;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid transparent;
    border-radius: 10%;
    z-index: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 10px;
    margin: 10px 0 20px 0; 
}

.img3 {
    width: 25%;
    position: absolute;
    top: 110%;
    left: 83%;
    transform: translate(-50%, -50%);
    border: 1px solid transparent;
    border-radius: 10%;
    z-index: 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 10px;
    margin: 10px 0;
    margin: 10px 0 20px 0; 
}
@media (max-width: 600px) {

    header {
        flex-direction: column;
        align-items: center;

    }

}

@media only screen and (max-width: 600px) {

    .video,
    .video1 {
        width: 80%;
        top: 50%;
        left: 50%;
    }

    .video1 {
        top: 80%;
    }
}

/* Media Queries for larger screens */
@media only screen and (min-width: 800px) {

    .video,
    .video1 {
        width: 40%;
        top: 40%;
        left: 27%;
    }

    .video1 {
        top: 40%;
        left: 73%;
    }
}

@media (max-width: 768px) {
    nav ul {
        display: block;
        flex-direction: column;
    }

    nav ul li {
        display: block;
        border-bottom: 1px solid #010C1B;
        padding: 10px;
    }

    nav ul li a {
        font-size: 16px;
        color: #010C1B;
    }

    nav.black ul li a {
        color: aqua;
    }

    nav.icon {
        background-color: #010C1B;
        color: aqua;
        text-align: center;
        padding: 10px 0;
        cursor: pointer;
    }

    nav.icon i {
        font-size: 28px;
    }

    nav.responsive {
        position: relative;
    }

    nav.responsive ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #010C1B;
    }

    nav.responsive ul.visible {
        display: flex;
    }
}

@media only screen and (max-width: 1400px) {
    .img1, .img2, .img3 {
        width: 25%;
        left: 20%;
        top: 90%;
        margin: 10px 0 20px 0; 
    }

    .img2 {
        left: 50%;
    }

    .img3 {
        left: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .img1, .img2, .img3 {
        width: 25%;
        left: 20%;
        top: 110%;
        margin: 10px 0 20px 0; 
    }

    .img2 {        
        left: 50%;        
    }

    .img3 {        
        left: 80%;        
    }
}




nav {
    /* background-color: #010C1B; */
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background-color: #010C1B;
}

nav.black ul li a {
    color: aqua;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    letter-spacing: 5px;
    text-decoration: none;
    color: #010C1B;
    font-size: 18px;

}